1. Add plugins and jacocoTestReport task to build.gradle
2. Add config/checkstyle folder
3. Add github workflows with main.yml
4. Make gradlew executable
